$primary-color: #B4B4B8;
$secondary-color: #FF9BD2;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 75%) {
        @return #000;
    } @else {
        @return #fff;
    }
}