@import './resets';
@import './variables';


@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

// @mixin flexCenter {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

// RESUME HERE ...


body {
    background-color: $primary-color;
    color: $text-color;
}

.main {
    // @include flexCenter();
    @include flexCenter(column);
    width: 80%;
    margin: 0 auto;

    #{&}_paragraph {
        // font-weight: map-get($font-weights, bold);
        // font-weight: weight(regular);
        font-weight: weight(bold);


        &:hover {
            color: red;
        }
    }
}

.light {
    // @include theme($light-theme: true);
    // @include theme($light-theme: false);
    // @include theme();
    // @include theme(true);
    @include theme(false);
}